* {
    padding: 0;
    margin:0;
    list-style: none;
    text-decoration: none;

}
html{
    scroll-behavior: smooth;
}

.menu ul li {
    display: inline-block;
    width: 200px;
    height: 30px;
    padding: 20px;
    position: fixed;
     
}


.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    color: white;
}
.background-section {
    background-image: url(../img/barbecue-820010_1280.jpg)
}
